<li>
   <h3>Build Job <%= build_job.slug %></h3>
   <p> Started at: <%= build_job.created_at %></p>
   <p> Exit status: <%= build_job.exit_status %></p>
   <p> Log tail: <%= render partial: 'build_jobs/build_log', locals: {build_job: build_job} %><p>
</li>

