    <li>
      <h3>Build Job <%= build_job.slug %></h3>
      <p> Started at: <%= build_job.created_at %></p>
      <p> Exit status: <%= build_job.exit_status %></p>
      <p> Log tail: <pre><code><%= (build_job.log || []).last(100).map{|l| l.join(': ')}.join.strip %></code></pre><p>
      </li>

