<%= form_for(@build_job) do |f| %>
  <% if @build_job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@build_job.errors.count, "error") %> prohibited this build_job from being saved:</h2>

      <ul>
      <% @build_job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
