<li class="changeset changeset-<%= changeset.status %>">
 <b>Changeset <%= changeset.revision %></b>
 | Created at: <%= changeset.created_at%>
<br/>
<ul>
  <%= render changeset.build_jobs %>
</ul>

</li>
