@import "bootstrap-sprockets";
@import "bootstrap";
@import "log_crunch";
@import "jquery-ui";


table{
  @extend .table;
  @extend .table-condensed;
  @extend .table-bordered;
  @extend .table-striped;
}

body{
  padding: 20px;
  background-color: #ccc;
}

tr.repository-error {
  td{
    background-color: #ffeeee;
  }
}
tr.repository-success {
  td{
    background-color: #eeffee;
  }
}
tr.repository-running {
  td{
    background-color: #eeeeff;
  }
}

h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
