.build_job {
  list-style-type: none;
  margin: 2px;
  padding-top:  3px;
  padding-left: 3px;
  padding-bottom: 0px;
  &.build_job-error {
    background-color: #ffeeee;
  }
  &.build_job-success {
    background-color: #eeffee;
  }
  &.build_job-running {
    background-color: #eeeeff;
  }
}

ul{
  padding-left: 0px;
}
.changeset {
  list-style-type: none;
  margin: 4px;
  padding: 2px;
  &.changeset-error {
    background-color: #ffcccc;
  }
  &.changeset-success {
    background-color: #ccffcc;
  }
  &.changeset-running {
    background-color: #ccccff;
  }
}




ol.build-log {
  display: block;
  white-space: nowrap;
  padding-left: 3px;

  p{
    margin: 0;
  }

  li.crunch { 
    display: inline-block;
    list-style-type: none;
    margin: 3px;
    padding: 10px;
  }

  .crunch-success {
    background-color: #dfd;
  }

  .crunch-failed {
    background-color: #fcc;
  }

  .crunch-pending {
    background-color: #ccc;
  }

  .crunch-running {
    background-color: #ccf;
  }

  .crunch-skipped {
    background-color: #eee;
  }

  .log-hidden{
    display: none;
  }

  .open-log{
    cursor: pointer;
    float: right;
    margin-left: 8px;
    font-size: 0.8em;
  }
}


.log {
  background-color: #222;
  color: #0f0;
  font-weight: bolder;
  .stderr {
    color: #f00;
  }
}


